<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar (Sidenav) -->
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="true"
    class="sidenav"
    [class.expanded]="sidenavExpanded"
    (mouseenter)="expandSidenav()"
    (mouseleave)="collapseSidenav()"
  >
    <mat-nav-list>
      <a
        mat-list-item
        *ngIf="isMobile"
        (click)="sidenavExpanded = !sidenavExpanded"
      >
        <mat-icon>menu</mat-icon>
      </a>
      <!-- Dashboard -->
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span *ngIf="sidenavExpanded">Dashboard</span>
      </a>

      <!-- Categories -->
      <a mat-list-item routerLink="/categories" routerLinkActive="active">
        <mat-icon mat-list-icon>category</mat-icon>
        <span *ngIf="sidenavExpanded">Categorías</span>
      </a>

      <!-- Expenses -->
      <a mat-list-item routerLink="/expenses" routerLinkActive="active">
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <span *ngIf="sidenavExpanded">Gastos</span>
      </a>

      <!-- Separador -->
      <mat-divider></mat-divider>

      <!-- Logout -->
      <a mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span *ngIf="sidenavExpanded">Salir</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content (click)="sidenavExpanded = false">
    <!-- <mat-toolbar color="primary">
      <span>Gestión de gastos</span>
    </mat-toolbar> -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
