.expenses-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.expenses-table-container {
  max-height: 400px; // Limita la altura de la tabla
  overflow-y: auto; // Habilita el scroll vertical
  overflow-x: auto;
}

.expenses-table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell,
.mat-cell {
  padding: 12px;
}

.mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

button.mat-icon-button {
  margin-right: 5px;
}

/* Estilos del botón flotante (FAB) */
.fab-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.fab-button:hover {
  transform: scale(1.1);
}

/* Scroll personalizado */
.expenses-table-container::-webkit-scrollbar {
  width: 8px;
}

.expenses-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.expenses-table-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.expenses-table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.action-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px; // Espacio entre los botones
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  th,
  td {
    padding: 4px 8px; // Reduce el espacio en pantallas pequeñas
    font-size: 12px; // Fuente más pequeña para mejor legibilidad
  }

  .expenses-table-container {
    overflow-x: auto; // Scroll horizontal en pantallas pequeñas
    -webkit-overflow-scrolling: touch; // Mejora la experiencia de scroll en móviles
  }

  .action-buttons {
    justify-content: flex-start;
    gap: 5px; // Menor espacio entre los botones en pantallas pequeñas
  }

  button.mat-icon-button {
    width: 32px; // Tamaño más pequeño para los botones en pantallas pequeñas
    height: 32px;
  }

  td mat-icon {
    font-size: 16px; // Tamaño más pequeño del ícono
  }
}

.total-counter {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white; // Fondo blanco
  border: 3px solid #0d47a1; // Borde azul oscuro
  border-radius: 50%; // Hace que sea redondo
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column; // Colocar el número y el texto "Total" en columnas
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); // Sombra para darle relieve
}

.total-counter .amount {
  font-size: 1.5em;
  font-weight: bold;
  color: #0d47a1; // Azul oscuro para el texto del número
}

.total-counter .label {
  font-size: 0.8em;
  color: #0d47a1; // Azul oscuro para el texto "Total"
  margin-top: 5px;
}

@media (max-width: 768px) {
  .total-counter {
    width: 50px; // Tamaño más pequeño en pantallas móviles
    height: 50px;
    top: 10px; // Ajustar el espacio superior
    right: 10px; // Ajustar el espacio lateral
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); // Menos sombra para pantallas pequeñas
  }

  .total-counter .amount {
    font-size: 0.7em; // Reducir el tamaño de la fuente en móviles
  }

  .total-counter .label {
    font-size: 0.7em; // Reducir el tamaño del texto "Total"
    margin-top: 2px; // Menor espacio entre el número y el texto
  }
}
